html{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.container{
    background-color: #c2c2c2;
    border: 2px solid #666;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 auto;
    max-width: 350px;
    max-height: 510px;
}

#display{
    width: 100%;
    height: 80px;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

input{
    align-items: center;
    margin: 1px;
    width: 85px;
    height: 60px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.geral{
    display: flex;
    width: 100%;
    align-items: flex-start;
}

#numeros{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.operacoes, #div{
    background-color: #c5e3ed;
    border: 1px solid #8ebdd1;
}
#del{
    background-color: #f07979;
    border: 1px solid #d63e3e;
}

#igual{
    background-color: #c5e3ed;
    border: 1px solid #8ebdd1;
    
}